Repository TEIC/TEI, pull requests merged in 2022-02, with the labels that each got.

#2226 Update text of chapter 4.3.1 Grouped Texts
  P5/Source/Guidelines/en/DS-DefaultTextStructure.xml
Labels: TEI: Guidelines & Documentation

#2232 Remove those constructs deprecated for Unihan
  P5/Exemplars/tei_simplePrint.odd
  P5/Source/Defunct/charName.xml
  P5/Source/Defunct/charProp.xml
  P5/Source/Defunct/glyphName.xml
  P5/Source/Defunct/localName.xml
  P5/Source/Defunct/unicodeName.xml
  P5/Source/Defunct/value.xml
  P5/Source/Guidelines/en/WD-NonStandardCharacters.xml
  P5/Source/Specs/char.xml
  P5/Source/Specs/charDecl.xml
  P5/Source/Specs/glyph.xml
Labels: Priority: High, Deprecation, TEI: Guidelines & Documentation, TEI: Schema

#2238 Update W3C links
  P5/Source/Guidelines/en/BIB-Bibliography.xml
  P5/Source/Guidelines/en/CH-LanguagesCharacterSets.xml
  P5/Source/Guidelines/en/CO-CoreElements.xml
  P5/Source/Guidelines/en/FT-TablesFormulaeGraphics.xml
  P5/Source/Guidelines/en/PH-PrimarySources.xml
  P5/Source/Guidelines/en/SA-LinkingSegmentationAlignment.xml
  P5/Source/Guidelines/en/SG-GentleIntroduction.xml
  P5/Source/Guidelines/en/ST-Infrastructure.xml
  P5/Source/Guidelines/en/TD-DocumentationElements.xml
  P5/Source/Guidelines/en/USE.xml
  P5/Source/Guidelines/en/WD-NonStandardCharacters.xml
  P5/Source/Guidelines/fr/HD-Header.xml
  P5/Source/Specs/att.global.xml
  P5/Source/Specs/att.patternReplacement.xml
  P5/Source/Specs/cRefPattern.xml
  P5/Source/Specs/equiv.xml
  P5/Source/Specs/f.xml
  P5/Source/Specs/fDecl.xml
  P5/Source/Specs/index.xml
  P5/Source/Specs/metDecl.xml
  P5/Source/Specs/prefixDef.xml
  P5/Source/Specs/teidata.duration.w3c.xml
  P5/Source/Specs/teidata.enumerated.xml
  P5/Source/Specs/teidata.language.xml
  P5/Source/Specs/teidata.name.xml
  P5/Source/Specs/teidata.namespace.xml
  P5/Source/Specs/teidata.outputMeasurement.xml
Labels: Type: Bug, Priority: Low, TEI: Guidelines & Documentation
