Repository TEIC/TEI, pull requests merged in 2024-12, with the labels that each got.

#2629 p5odds.odd bug fix
  P5/p5odds.odd
Labels: Priority: High, TEI: ODD

#2630 p5odds: Allow "URN" as value of `@type` of `<idno>`
  P5/p5odds.odd
Labels: Type: FeatureRequest, Priority: High, TEI: ODD, CouncilResponsibility

#2624 Fix the opening tag (#2623)
  P5/Source/Specs/att.datcat.xml
Labels: Priority: High

#2627 re-write of 1st para on namespaces
  P5/Source/Guidelines/en/SG-GentleIntroduction.xml
Labels: TEI: Guidelines & Documentation

#2618 table of modules — re-generated based on new utility
  P5/Source/Guidelines/en/ST-Infrastructure.xml
  P5/Utilities/generate_module_table.xsl
Labels: TEI: Guidelines & Documentation, CouncilResponsibility, Status: Pending

#2615 Removal of calendar from provided customization ODDs
  P5/Exemplars/tei_jtei.odd
  P5/Exemplars/tei_lite.odd
  P5/Exemplars/tei_tite.odd
Labels: CouncilResponsibility, Status: Pending, TEI: Exemplars

#2635 Resolve 2026: Restore missing part of example in guidelines chapter 23
  P5/Source/Guidelines/en/TD-DocumentationElements.xml
Labels: Status: Go

#2594 add `<constraintDecl>`
  P5/Source/Guidelines/en/BIB-Bibliography.xml
  P5/Source/Guidelines/en/TD-DocumentationElements.xml
  P5/Source/Specs/constraintDecl.xml
  P5/Source/Specs/encodingDesc.xml
  P5/Source/Specs/schemaSpec.xml
  P5/Utilities/TEI-to-tei_customization.xslt
  P5/p5.nvdl
  P5/p5valid.nvdl
Labels: Type: FeatureRequest, Status: Needs Discussion, TEI: ODD, TEI: Guidelines & Documentation, CouncilResponsibility, atop

#2631 add `@scope` to `<language>` by factoring a new class from `@scope` of att.handFeatures
  P5/Source/Guidelines/en/BIB-Bibliography.xml
  P5/Source/Guidelines/en/ST-Infrastructure.xml
  P5/Source/Specs/att.handFeatures.xml
  P5/Source/Specs/att.scope.xml
  P5/Source/Specs/handNote.xml
  P5/Source/Specs/language.xml
Labels: Type: FeatureRequest, Status: Needs Discussion, TEI: Guidelines & Documentation
