Repository TEIC/TEI, pull requests merged in 2024-03, with the labels that each got.

#2519 Added facets to constrain teidata.probability
  P5/Source/Specs/teidata.probability.xml
Labels: TEI: Guidelines & Documentation

#2511 2 of 3 requested improvements to gaiji descriptions
  P5/Source/Specs/att.gaijiProp.xml
  P5/Source/Specs/mapping.xml
Labels: TEI: Guidelines & Documentation

#2532 Updated prose and added deprecation information for ´superEntry´ element
  P5/Source/Guidelines/en/DI-PrintDictionaries.xml
  P5/Source/Specs/superEntry.xml
Labels: Status: Go, CouncilResponsibility

#2513 issue deprecation warning when assertion is made without context
  P5/Source/Guidelines/en/TD-DocumentationElements.xml
  P5/Source/Guidelines/en/USE.xml
  P5/Source/Specs/ab.xml
  P5/Source/Specs/addSpan.xml
  P5/Source/Specs/alternate.xml
  P5/Source/Specs/att.identified.xml
  P5/Source/Specs/att.repeatable.xml
  P5/Source/Specs/attDef.xml
  P5/Source/Specs/catchwords.xml
  P5/Source/Specs/citeStructure.xml
  P5/Source/Specs/constraint.xml
  P5/Source/Specs/constraintSpec.xml
  P5/Source/Specs/damageSpan.xml
  P5/Source/Specs/delSpan.xml
  P5/Source/Specs/dimensions.xml
  P5/Source/Specs/div.xml
  P5/Source/Specs/join.xml
  P5/Source/Specs/l.xml
  P5/Source/Specs/lg.xml
  P5/Source/Specs/link.xml
  P5/Source/Specs/modelSequence.xml
  P5/Source/Specs/moduleRef.xml
  P5/Source/Specs/msIdentifier.xml
  P5/Source/Specs/p.xml
  P5/Source/Specs/ptr.xml
  P5/Source/Specs/quotation.xml
  P5/Source/Specs/rdgGrp.xml
  P5/Source/Specs/ref.xml
  P5/Source/Specs/relatedItem.xml
  P5/Source/Specs/relation.xml
  P5/Source/Specs/rt.xml
  P5/Source/Specs/s.xml
  P5/Source/Specs/secFol.xml
  P5/Source/Specs/sequence.xml
  P5/Source/Specs/shift.xml
  P5/Source/Specs/signatures.xml
  P5/Source/Specs/span.xml
  P5/Source/Specs/standOff.xml
  P5/Source/Specs/subst.xml
  P5/Test/detest.odd
  P5/Test/expected-results/detest_odd_schematron.log
  P5/Test/expected-results/detest_xml_schematron.log
Labels: CouncilResponsibility, TEI: Schematron
